body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.mainSearch{
    margin: 20% 0;
}

.search-block {
    max-width: 100%;
    width: 100%;
    margin-top: 2%;
}

.search-button {
    margin: 2%;
    width: 20%;
}

.table-categories tr img{
    height: 80px;
}

.page-title{
    margin: 5% 0;
}