
@{
    ViewBag.Title = "RegistrationSuccess";
}

<div class="container"  style="margin: 20% 0 auto;">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class=" alert alert-success">
                <h2>Rejestracja przebiegła pomyślnie - @Html.ActionLink("zaloguj się", "LogIn", "Home")</h2>
            </div>
        </div>
    </div>
</div>
