
@{
    ViewBag.Title = "Dodano Ogłoszenie";
}

<div class="container">
    <div class="row">
        <div class="alert mainSearch alert-success">
            <h1>Dodano ogłoszenie</h1>
        </div>
    </div>
</div>

